body{
    background-image: url(hard.jpg);
    background-size: 100%;
    background-repeat: repeat;
}
h1
{
   margin-left: 35%;
   margin-right: 35%;
   margin-top: 10%;
   display: inline;
   color: rgb(255, 63, 4);
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-size: 50px;
  font-weight: bold;
}
/*Created by ANKITA SIKDER
email:ankita.sikder14@gmail.com
*/
ul{
    margin-top: 35px;
    margin-left: 10%;
    margin-right: 10%;
    padding: 20px;
    font-size: 30px;
    color:rgba(31, 1, 1, 0.979);
    font-style: bold;
  }
  .class{
    color: rgb(22, 1, 1);
    font-size: 40px;
  }
  .class:hover{
      color: rgb(242, 244, 250);
  }
  .homepage{
    color: rgb(243, 243, 245);
    font-size: 200%;
    margin-top: 0%;
    width: 40%;
    margin-left: 29%;
  }
  .homepage:hover{
      color: rgb(10, 243, 80);
  }