body{
    background-image: url(other.jpg);
    background-size: 120%;
    background-repeat: repeat;
}
h1
{
   margin-left: 20%;
   margin-right: 20%;
   display: inline;
   color: rgb(45, 4, 95);
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-size: 50px;
  font-weight: bold;
}
/*Created by ANKITA SIKDER
email:ankita.sikder14@gmail.com
*/
ul{
    margin-top: 35px;
    margin-left: 10%;
    margin-right: 10%;
    padding: 20px;
    font-size: 30px;
    color:rgba(0, 0, 0, 0.979);
    font-style: bold;
  }
  .class{
    color: rgb(0, 0, 0);
    font-size: 40px;
  }
  .class:hover{
      color: rgb(36, 18, 239);
  }
  .homepage{
    color: rgb(3, 3, 234);
    font-size: 200%;
    margin-top: 0%;
    width: 40%;
    margin-left: 29%;
  }
  .homepage:hover{
      color: rgb(0, 0, 0);
  }