body{
    background-image: url(rpbg.png);
    background-size: 100%;
    background-repeat: repeat;
}
h1
{
   margin-left: 35%;
   margin-right: 35%;
   margin-top: 10%;
   display: inline;
   color: rgb(255, 255, 255);
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-size: 50px;
  font-weight: bold;
}
/*Created by ANKITA SIKDER
email:ankita.sikder14@gmail.com
*/
h2{
    margin-left: 35%;
     margin-right: 35%;
     margin-top: 10px;
     display: inline;
     color: rgb(246, 245, 248);
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     font-size: 35px;
     font-family: Arial, Helvetica, sans-serif;
    }
ul{
    margin-top: 35px;
    margin-left: 10%;
    margin-right: 10%;
    padding: 20px;
    font-size: 26px;
    color:rgba(255, 255, 255, 0.979);
    font-style: bold;
  }
  .class{
    color: rgb(255, 255, 255);
    font-size: 26px;
  }
  .class:hover{
      color: rgb(240, 141, 11);
  }
  .homepage{
    color: rgb(243, 240, 199);
    font-size: 200%;
    
    width: 40%;
    margin-left: 29%;
  }
  .homepage:hover{
      color: rgb(10, 243, 231);
  }